@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Noto+Sans:wght@500&display=swap');

.fullContainer {
    background-image: url("D:\Programacion\Curso Henry\PI-Food-main\client\src\img\recipeCreatebg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.createContainer {
    display: grid;
    background-color: white;
    width: 60vw;
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
}

.imgContainer,
.formContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    background-image: url("D:\Programacion\Curso Henry\PI-Food-main\client\src\img\imgContainerbg.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.formContainer {
    display: flex;
    background-color: antiquewhite;
}

.createForm {
    color: darkgray;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    border-color: transparent;
    margin: 3px 0;
    width: 15rem;
    height: fit-content;
    border-radius: 10px;
    font-size: 16px;
    word-break: break-all;
}

input:focus{
    border-color: bisque;
}

.createRecipe, .goBackHome{
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid tan;
    background-color: tan;
}

.createRecipe, .goBackHome:hover{
    background-color: rgb(212, 172, 119);
}

.dietListOpt{
    margin: 1px;
    width: fit-content;
    border-radius: 5px;
    font-size: 16px;
}

.dietsContainerCreate{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 200px);
}

input[type=checkbox]{
    transform: scale(1.25);
}

.error-message{
    font-size: 14px;
    color: #9a0007;
}