
.paginate-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #ff7961bd;
    border-radius: 15px;
  }
 
  .btnPrev, .btnNext {
    color:white;
    text-align: center;
    align-items: center;
    background-color: #b61828e0;
    cursor: pointer;
  }

  .btnActive {
    color:white;
    font-size: 16px;
    background-color: transparent;   
    text-align: center;
    cursor: pointer;
    
  }

  .btnPaginate{
    color:white;
    background-color: #ff5f52;
  }