@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
    position: relative;
   /* background-color: #f44336;*/
   background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', 'sans serif';
}



.navbar a {
    color: white;
    padding: 12px 10px;
    border-bottom: 4px solid transparent;
    
}

.navbar a:hover {
   font-weight: 600;
}

.logoLink{
    position: absolute;
    display: inline-block;
    overflow: hidden;
    top: 0px;
}
